<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Potty Partner - Logout</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> header}}

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">You have successfully logged out</h1>
        <p class="text-center">Thank you for using Potty Partner. We hope to see you again soon!</p>
        <div class="text-center">
          <a href="/" class="btn btn-primary">Go to Home</a>
          <a href="/auth/login" class="btn btn-secondary">Login Again</a>
        </div>
      </div>
    </div>
  </div>

  {{> footer}}
</body>
</html>
