<footer class="text-center text-lg-start mt-4">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Potty Partner</h5>
        <p>
          Your reliable partner in finding the best restrooms nearby.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="/" class="text-dark">Home</a>
          </li>
          <li>
            <a href="/about" class="text-dark">About</a>
          </li>
          <li>
            <a href="/contact" class="text-dark">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.facebook.com" class="text-dark"><i class="fab fa-facebook-f"></i> Facebook</a>
          </li>
          <li>
            <a href="https://www.twitter.com" class="text-dark"><i class="fab fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com" class="text-dark"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Potty Partner. All rights reserved.
  </div>
</footer>
