<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  {{> header}}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Find Nearby Restrooms</h1>
        <form id="search-form" class="form-inline justify-content-center my-4" action="/restrooms/searchResults" method="GET">
          <input type="text" class="form-control mr-2" name="q" id="location-input" placeholder="Enter your location">
          <button id="search-button" type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{!-- Results Section --}}
        {{#if searchResults}}
          <div class="row mt-4">
            {{#each searchResults}}
              {{> resultCard}}
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <a href="/auth/login" class="btn btn-secondary mr-2">Login</a>
        <a href="/auth/register" class="btn btn-secondary">Register</a>
      </div>
    </div>
  </div>
  {{> footer}}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
