<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Potty Partner</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
{{> header}}

<div class="container mt-4">
  <h1 class="text-center">Search Results</h1>
  <div id="search-results">
    {{#each searchResults}}
     <li>
      <a href="/reviews/{{this.id}}">{{this.name}}</a>
      <p>{{this.address}}</p>
    </li>
    {{/each}}
  </div>
</div>

<script>
  Handlebars.registerHelper('json', function(context) {
    return JSON.stringify(context, null, 2);
  });
</script>

{{> footer}}

</body>
</html>