{{> header}}

<div class="container mt-4">
  <h1 class="text-center">Search Results</h1>
  <div id="search-results">
    {{#each searchResults}}
     <li>
      <a href="/reviews/{{this.id}}">{{this.name}}</a>
      <p>{{this.address}}</p>
    </li>
    {{/each}}
  </div>
</div>

<script>
  Handlebars.registerHelper('json', function(context) {
    return JSON.stringify(context, null, 2);
  });
</script>

{{> footer}}