/* Regular theme */
body {
  background-color: #05172F;
  color: #ffffff; /* Ensure text is readable against the dark background */
  transition: background-color 0.5s ease, color 0.5s ease; /* Add transition for smooth effect */
}

header, footer {
  background-color: #9FC0CB;
  color: #05172F; /* Ensure text is readable against the background */
  transition: background-color 0.5s ease, color 0.5s ease; /* Add transition for smooth effect */
}

.navbar-brand img {
  height: 40px;
  border-radius: 8px;
}

/* Regular Theme Card styles */
.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  color: #05172F;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9FC0CB;
  border-bottom: 1px solid #e9ecef;
}

.card-header img {
  width: 30px;
  height: 30px;
}


/* Brown theme */
body.brown-mode {
  background-color: #5A3E36;
  color: #f0e6d2;
}

body.brown-mode header, body.brown-mode footer {
  background-color: #8B5E3C;
  color: #f0e6d2;
}

body.brown-mode p, body.brown-mode h1, body.brown-mode h2, body.brown-mode h3, body.brown-mode h4, body.brown-mode h5, body.brown-mode h6, body.brown-mode a {
  color: #f0e6d2; /* Ensure all text is readable in brown mode */
}

/* Additional styles for Bootstrap components in brown mode */
body.brown-mode .navbar, body.brown-mode .navbar-brand, body.brown-mode .nav-link, body.brown-mode .btn {
  color: #f0e6d2;
}

body.brown-mode .btn-secondary {
  background-color: #8B5E3C;
  border-color: #8B5E3C;
  color: #f0e6d2;
}

/* Brown Theme Card styles */
body.brown-mode .card {
  color: #f0e6d2;
  background-color: #8B5E3C;
  border-color: #f0e6d2;
}

body.brown-mode .card-header {
  background-color: #5A3E36;
  border-bottom: 1px solid #f0e6d2;
}