<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Potty Partner</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
{{> header}}

<h1>{{searchResult.name}}</h1>
<p>{{searchResult.address}}</p>
<h2>Reviews</h2>
<ul>
  {{#each reviews}}
    <li>{{this.content}} - <strong>{{this.User.username}}</strong></li>
  {{/each}}
</ul>

{{> footer}}

</body>
</html>
